<div class="row">
    <div class="col-md-12 page-header">
        <h3>Kinderbeachturnier</h3>
    </div>
</div>

<spi-loader loading="vm.loading"></spi-loader>

<div class="row" data-ng-if="!vm.loading">
    <div class="col-md-12">
        <h4>Aktuelle Spiele</h4>
        <spi-spiele-tabelle spiele="vm.aktuelleSpiele"></spi-spiele-tabelle>
    </div>
</div>

<div class="row" data-ng-if="!vm.loading">
    <div class="col-md-12">
        <h4>Nächste Spiele</h4>
        <spi-spiele-tabelle spiele="vm.naechsteSpiele"></spi-spiele-tabelle>
    </div>
</div>



