<div class="row">
    <div class=" col-md-12 page-header">
        <h3>Teams</h3>
    </div>
</div>

<spi-loader loading="vm.loading"></spi-loader>

<div class="row" data-ng-if="!vm.loading">
    <div class="col-md-12">
        <div class="table-responsive" data-ng-if="vm.tableParams.total() > 0">
            <table data-ng-table="vm.tableParams" class="table table-condensed table-striped table-hover table-clickable"
                   data-show-filter="true">
                <tr data-ng-repeat="team in $data" data-ng-click="vm.gotoTeam(team)" class="text-center">
                    <td data-title="'Name'" data-sortable="'name'" class="text-left" data-filter="{name: 'text'}">
                        {{team.name}}
                    </td>
                    <td data-title="'Jugend'" data-ng-click="vm.gotoJugend(team.jugend); $event.stopPropagation();"
                        data-sortable="'jugendName'" data-group="'jugendName'" data-filter="{jugendName: 'text'}"
                        class="valign">
                        <spi-jugend-label jugend="team.jugend"></spi-jugend-label>
                    </td>
                    <td data-title="'Gruppe'" data-ng-click="vm.gotoGruppe(team.gruppe); $event.stopPropagation();"
                        data-sortable="'gruppenName'" data-filter="{gruppenName: 'text'}">{{team.gruppenName}}
                    </td>
                    <td data-title="'Tore'" data-sortable="'tore'" data-filter="{tore: 'number'}">{{team.tore}}</td>
                    <td data-title="'GTore'" data-sortable="'gtore'" data-filter="{gtore: 'number'}">{{team.gtore}}</td>
                    <td data-title="'Tordiff.'" data-sortable="'tordiff'" data-filter="{tordiff: 'number'}">
                        {{team.tordiff}}
                    </td>
                    <td data-title="'P+'" data-sortable="'punkte'" data-filter="{punkte: 'number'}">{{team.punkte}}</td>
                    <td data-title="'P-'" data-sortable="'gpunkte'" data-filter="{gpunkte: 'number'}">{{team.gpunkte}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 col-md-offset-4" data-ng-if="vm.tableParams.total()===0">
            <div class="alert alert-info">Keine Teams gefunden</div>
        </div>
    </div>
</div>