<td class="text-center">{{vm.spiel.nummer}}</td>
<td class="text-center" data-ng-click="vm.gotoDate(vm.spiel.datum); $event.stopPropagation();">{{vm.spiel.datum}}</td>
<td class="text-center">{{vm.spiel.uhrzeit}}</td>
<td data-ng-click="vm.gotoPlatz(vm.spiel.platz); $event.stopPropagation();" class="text-center">{{vm.spiel.platz}}</td>
<td data-ng-if="vm.showJugend" data-ng-click="vm.gotoJugend(vm.spiel.jugend, $event);" class="valign">
    <spi-jugend-label data-jugend="vm.spiel.jugend" class="hidden-print"></spi-jugend-label>
    <span class="visible-print-block">{{vm.spiel.jugend.name}}</span>
</td>
<td data-ng-if="vm.showGruppe" data-ng-click="vm.gotoGruppe(vm.spiel.gruppe, $event);">{{vm.displayGruppe()}}</td>
<td data-ng-click="vm.gotoTeam(vm.spiel.teamA, $event);">{{vm.displayTeamA()}}</td>
<td data-ng-click="vm.gotoTeam(vm.spiel.teamB, $event);">{{vm.displayTeamB()}}</td>
<td class="text-center">
    <div data-ng-if="vm.spiel.jugend">
        <div data-ng-if="vm.isEditing && vm.canEdit">
            <input type="number" min="0" data-ng-model="vm.spiel.toreA" class="spielplannumberinput"
                   data-ng-click="$event.stopPropagation();" data-focus-on="focusTextInput" data-ng-enter="vm.save()"
                   title="toreA">
            <span> : </span>
            <input type="number" min="0" data-ng-model="vm.spiel.toreB" class="spielplannumberinput"
                   data-ng-click="$event.stopPropagation();" data-ng-enter="vm.save()" title="toreB">
			<span class="pull-right" data-ng-if="!vm.spielIsNotFilled">
				<span class="hidden-print" data-ng-click="vm.save(); $event.stopPropagation();"
                      data-uib-tooltip="Ergebnis speichern" data-tooltip-placement="top-right"><i
                        class="icon-hover fa fa-check"></i></span>
				<span data-ng-if="vm.canDelete" class="hidden-print"
                      data-ng-click="vm.askDelete(); $event.stopPropagation();" data-uib-tooltip="Ergebnis zurücksetzen"
                      data-tooltip-placement="top-right"><i class="icon-hover fa fa-trash"></i></span>
				<span class="hidden-print" data-ng-click="vm.abort(); $event.stopPropagation();"
                      data-uib-tooltip="Editieren abbrechen" data-tooltip-placement="top-right"><i
                        class="icon-hover fa fa-remove"></i></span>
			</span>
        </div>
        <div data-ng-if="!vm.isEditing">
            <span>{{vm.ergebnisDisplay}}</span>
			<span class="pull-right" style="padding-left:33px;" data-ng-if="vm.canEdit && !vm.spielplanIsEdited" data-ng-hide="vm.spielIsNotFilled">
			<span class="hidden-print" data-ng-click="vm.edit(); $event.stopPropagation();"
                  data-uib-tooltip="Ergebnis bearbeiten" data-tooltip-placement="top-right"><i
                    class="icon-hover fa fa-pencil"></i></span>
			</span>
            <span class="pull-right spiel-click-icon spiel-click-icon-single" data-ng-if="vm.spielplanIsEdited && vm.isLastPlatz" data-uib-popover-template="'spielDelayPopoverTemplate.html'" data-popover-title="Verzögerung" data-popover-placement="top-right" data-popover-trigger="outsideClick" data-uib-tooltip="Verzögerung nach dem Spiel einfügen" data-tooltip-placement="top-right"><i class="fa fa-clock-o"></i></span>
        </div>
    </div>
    <div data-ng-if="vm.spielplanIsEdited && !vm.spiel.jugend">
        <span class="pull-right color-red spiel-click-icon" data-ng-click="vm.removeSpiel(); $event.stopPropagation();" data-uib-tooltip="Spiel löschen" data-tooltip-placement="top-right"><i class="fa fa-minus-circle"></i></span>
        <span class="pull-right spiel-click-icon" data-ng-if="vm.isLastPlatz" data-uib-popover-template="'spielDelayPopoverTemplate.html'" data-popover-title="Verzögerung" data-popover-placement="top-right" data-popover-trigger="outsideClick" data-uib-tooltip="Verzögerung nach dem Spiel einfügen" data-tooltip-placement="top-right"><i class="fa fa-clock-o"></i></span>
    </div>
</td>

<script type="text/ng-template" id="spielDelayPopoverTemplate.html">
    <div>Verzögerung in Minuten</div>
    <div class="form-group">
        <input type="number" ng-model="vm.delay" data-ng-change="vm.delayChangeHandle()" ng-model-options="{debounce: 300}" class="form-control">
    </div>
</script>