<div class="modal-header">
	<h3 class="modal-title">Bestätigen</h3>
</div>
<div class="modal-body">
	<spi-loader loading="vm.loading"></spi-loader>
	<div class="row" data-ng-if="!vm.loading">
		<div class="col-md-12">
			<h5>{{vm.message}}</h5>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-danger pull-left" type="button" ng-click="vm.abbrechen()">Abbrechen</button>
	<button class="btn btn-success pull-right" type="button" ng-click="vm.save()">Bestätigen</button>
</div>