<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form data-ng-submit="vm.resetPassword(resetForm)" style="margin-top:80px;" name="resetForm" novalidate>
            <h3 class="width-100 text-center">Passwort zurücksetzen</h3>

            <p>Du kannst nun dein Passwort zurücksetzen.</p>
            <div class="form-group" data-ng-class="{ 'has-error': resetForm.username.$touched && resetForm.username.$invalid }">
                <input type="text" class="form-control" placeholder="Benutzername" data-ng-model="vm.username" name="username" data-ng-minlength="3" required>
                <span class="help-block" data-ng-messages="resetForm.username.$error" data-ng-if="resetForm.username.$touched">
                    <p data-ng-message="required">Username ist ein Pflichtfeld</p>
                    <p data-ng-message="minlength">Username zu kurz</p>
                </span>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': resetForm.password.$touched && resetForm.password.$invalid }">
                <input type="password" class="form-control" placeholder="Passwort" data-ng-model="vm.password" name="password" data-ng-minlength="4" required>
                <span class="help-block" data-ng-messages="resetForm.password.$error" data-ng-if="resetForm.password.$touched">
                    <p data-ng-message="required">Passwort ist ein Pflichtfeld</p>
                    <p data-ng-message="minlength">Passwort ist zu kurz</p>
                </span>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': resetForm.passwordCheck.$touched && resetForm.passwordCheck.$invalid }">
                <input type="password" class="form-control" placeholder="Passwort" data-ng-model="vm.passwordCheck" name="passwordCheck" data-compare-to="vm.password" data-ng-minlength="4" required>
                <span class="help-block" data-ng-messages="resetForm.passwordCheck.$error" data-ng-if="resetForm.passwordCheck.$touched">
                    <p data-ng-message="required">Passwort ist ein Pflichtfeld</p>
                    <p data-ng-message="compareTo">Passwörter sind nicht gleich</p>
                    <p data-ng-message="minlength">Passwort ist zu kurz</p>
                </span>
            </div>
            <button type="submit" class="btn btn-primary center-block" data-ng-disabled="resetForm.$invalid" analytics-on="click" analytics-event="Passwort Reset">Passwort zurücksetzen</button>
        </form>
    </div>
</div>