<div class="row padding-bottom-15" data-ng-if="vm.ausnahme">
	<div class="col-md-4 col-md-offset-1">
		<select class="width-100 form-control" data-ng-model="vm.ausnahme.team1" data-ng-change="vm.updateTeams2()" data-ng-options="team as team.name group by team.jugend.name for team in vm.teams">
			<option value="" disabled selected>Team 1 wählen</option>
		</select>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<select class="width-100 form-control" data-ng-model="vm.ausnahme.team2" data-ng-options="team as team.name group by team.jugend.name for team in vm.teams2">
			<option value="" disabled selected>Team 2 wählen</option>
		</select>
	</div>
	<div class="col-md-1 col-md-offset-1">
		<span class="hidden-print" data-ng-click="vm.askDelete(); $event.stopPropagation();" uib-tooltip="Ausnahme entfernen"><i class="icon-hover fa fa-remove" ></i></span
	</div>
</div>	
