<!--suppress HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget -->
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
    <title>Spielplan</title>
    <meta property="og:title" content="Spielplan Kinderbeachturnier 2016">
    <meta property="og:description" content="Spielplan für das Kinderbeachturnier 2016 in Ismaning">
    <meta property="og:email_address" content="kinderbeach.ismaning@mail.com">
    <meta property="og:image" content="http://spielplanismaning.herokuapp.com/assets/img/hoelle_sued_logo_klein.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/hoelle_sued_logo_klein_gelb.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/assets/img/hoelle_sued_logo_klein_gelb.png">

    <base href="/">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- injector:css -->
    <link rel="stylesheet" href="stylesheets/colors.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/print.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- endinjector -->

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="app.js"></script>
    <!-- injector:js -->
    <script src="services/email.js"></script>
    <script src="services/gruppe.js"></script>
    <script src="services/jugend.js"></script>
    <script src="services/spiel.js"></script>
    <script src="services/spielplan.js"></script>
    <script src="services/team.js"></script>
    <script src="components/bestaetigen-modal/bestaetigen-modal.js"></script>
    <script src="components/gruppe-edit-modal/gruppe-edit-modal.js"></script>
    <script src="components/gruppen-panel/gruppen-panel.ui.js"></script>
    <script src="components/jugend-label/jugend-label.ui.js"></script>
    <script src="components/jugend-panel/jugend-panel.ui.js"></script>
    <script src="components/loader/loader.ui.js"></script>
    <script src="components/logger/logger.js"></script>
    <script src="components/panel/panel.ui.js"></script>
    <script src="components/spieletabelle/spieletabelle.ui.js"></script>
    <script src="components/spielplan-ausnahmen/spielplan-ausnahmen.ui.js"></script>
    <script src="components/spielplan-single-spiel/spielplan-single-spiel.ui.js"></script>
    <script src="components/tabelle/tabelle.ui.js"></script>
    <script src="components/team-abonnieren-modal/team-abonnieren-modal.js"></script>
    <script src="components/team-edit-modal/team-edit-modal.js"></script>
    <script src="templates/footer/footer.ui.js"></script>
    <script src="templates/home/home.ui.js"></script>
    <script src="templates/kontakt/kontakt.ui.js"></script>
    <script src="templates/login/auth.js"></script>
    <script src="templates/login/login.ui.js"></script>
    <script src="templates/navigation/navigation.ui.js"></script>
    <script src="templates/platz/platz.ui.js"></script>
    <script src="templates/spiel/spiel.ui.js"></script>
    <script src="templates/spielplan/spielplan.ui.js"></script>
    <script src="templates/tabellen/tabellen.ui.js"></script>
    <script src="templates/team-deabonnieren/team-deabonnieren.ui.js"></script>
    <script src="templates/tgj/tgj.ui.js"></script>
    <script src="templates/verwaltung/verwaltung.ui.js"></script>
    <script src="components/spielplan-ausnahmen/spielplan-single-ausnahme/spielplan-single-ausnahme.ui.js"></script>
    <script src="templates/tgj/gruppen/gruppen.ui.js"></script>
    <script src="templates/tgj/jugenden/jugenden.ui.js"></script>
    <script src="templates/tgj/teams/teams.ui.js"></script>
    <script src="templates/verwaltung/alle-spiele-druck/alle-spiele-druck.ui.js"></script>
    <script src="templates/verwaltung/allgemein/verwaltung.allgemein.ui.js"></script>
    <script src="templates/verwaltung/email-abonnements/email-abonnements.ui.js"></script>
    <script src="templates/verwaltung/teams/verwaltung.teams.ui.js"></script>
    <script src="templates/tgj/gruppen/gruppe/gruppe.ui.js"></script>
    <script src="templates/tgj/jugenden/jugend/jugend.ui.js"></script>
    <script src="templates/tgj/teams/team/team.ui.js"></script>
    <!-- endinjector -->
</head>

<body data-ng-csp data-ng-jq data-ng-app="spi">
<header>
    <spi-navigation></spi-navigation>
</header>
<div id="page" class="container-fluid fadein">
    <div style="padding-bottom: 10px;">
        <ui-view>
            <div class="row">
                <div class="col-md-12 main-loader">
                    <div class="center-block text-center">
                        <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
                        <h4 class="margin-top-25">Lade Spielplan</h4>
                    </div>
                </div>
            </div>
        </ui-view>
    </div>
</div>
<footer>
    <spi-footer></spi-footer>
</footer>

</body>

</html>