<div class="row">
    <div class="col-md-12 page-header">
        <h3>Spielplan</h3>
        <div class="pull-right" data-ng-if="vm.canEdit">
            <button data-ng-if="!vm.isEditing" data-ng-click="vm.toggleEdit()" type="button" class="btn btn-primary btn-md"><i class="fa fa-pencil"></i> Spielplan bearbeiten</i></button>
            <button data-ng-if="vm.isEditing" data-ng-click="vm.abortEdit()" type="button" class="btn btn-danger btn-md"><i class="fa fa-times"></i> Abbrechen</i></button>
            <button data-ng-if="vm.isEditing" data-ng-click="vm.saveOrder()" type="button" class="btn btn-success btn-md"><i class="fa fa-check"></i> Spielplan speichern</i></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 table-responsive">
        <div data-ng-if="!vm.loading && vm.spiele.length === 0" class="alert alert-info">Keine Spiele gefunden.</div>
        <table class="table table-condensed table-striped table-hover table-clickable" data-ng-if="!vm.loading && vm.spiele.length > 0"
               id="spielplan">
            <thead>
            <tr>
                <th class="text-center">Nr</th>
                <th class="text-center">Datum</th>
                <th class="text-center">Zeit</th>
                <th class="text-center">Platz</th>
                <th data-ng-if="vm.showJugend">Turnier</th>
                <th data-ng-if="vm.showGruppe">Gruppe</th>
                <th>Heim</th>
                <th>Gast</th>
                <th>Ergebnis</th>
            </tr>
            </thead>
            <tbody ui-sortable="vm.sortableOptions" ng-model="vm.spiele" data-ng-if="vm.isEditing">
                <tr data-ng-repeat="spiel in vm.spiele" class="spielplan-single-spiel" data-ng-class="{'invalid-spielplan-row': vm.checkRowInvalid($index)}"
                    data-spi-single-spiel="spiel" data-index="{{ $index }}" data-show-jugend="vm.showJugend" data-show-gruppe="vm.showGruppe" data-is-complex-mode="vm.isComplexMode"></tr>
            </tbody>
            <tbody data-ng-if="!vm.isEditing" class="table-body-spiele-by-date" data-ng-repeat="spieleByDate in vm.spieleByDate">
                <tr data-ng-repeat="spiel in spieleByDate" class="spielplan-single-spiel" data-ng-class="{'last-platz-spiel': vm.isLastPlatz(spiel)}" data-is-complex-mode="vm.isComplexMode" data-show-jugend="vm.showJugend" data-show-gruppe="vm.showGruppe" data-spi-single-spiel="spiel" data-ng-click="vm.gotoSpiel(spiel)"></tr>
            </tbody>
        </table>
        <spi-loader loading="vm.loading"></spi-loader>
    </div>
</div>