<div class="modal-header">
    <h3 class="modal-title">{{vm.gruppe.name}} bearbeiten</h3>
</div>
<div class="modal-body">
    <spi-loader loading="vm.loading"></spi-loader>
    <div class="row" data-ng-if="!vm.loading">
        <div class="col-md-12">
            <table>
                <tr data-ng-repeat="team in vm.teams">
                    <td><a data-ui-sref="spi.tgj.team({teamid: team._id})">{{team.name}}</a></td>
                    <td class="padding-left-15" data-ng-click="vm.askDeleteTeam(team)" data-uib-tooltip="Team löschen"
                        data-tooltip-append-to-body="true"><i class="icon-hover fa fa-remove"></i></td>
                    <td class="padding-left-5" data-ng-click="vm.editTeam(team)" data-uib-tooltip="Team bearbeiten"
                        data-tooltip-append-to-body="true"><i class="icon-hover fa fa-pencil"></i></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form data-ng-submit="vm.addTeam()" style="margin-top:30px;">
                <h5>Team zur Gruppe hinzufügen</h5>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Team-Name" data-ng-model="vm.team.name"
                           required>
                </div>
                <button data-ng-disabled="vm.loading" type="submit" class="btn btn-primary">anlegen</button>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="vm.abbrechen()">Schließen</button>
</div>