<div class="modal-header">
    <h3 class="modal-title">Fehler melden</h3>
</div>
<div class="modal-body">
    <div class="row" data-ng-if="!vm.sent && !vm.error">
        <div class="col-md-12">
            <form data-ng-submit="vm.send()" style="margin-top:30px;" name="bugForm" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Vorname" data-ng-model="vm.mail.vorname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nachname" data-ng-model="vm.mail.nachname">
                </div>
                <div class="form-group" data-ng-class="{'has-error': bugForm.email.$touched && !bugForm.email.$valid}">
                    <input type="email" class="form-control" placeholder="E-Mail" data-ng-model="vm.mail.email"
                           required name="email">
                    <span class="help-block" data-ng-messages="bugForm.email.$error"
                          data-ng-if="bugForm.email.$touched">
                        <p data-ng-message="required">E-Mail ist ein Pflichtfeld</p>
                        <p data-ng-message="email">E-Mail ist ungültig</p>
                    </span>
                </div>
                <div class="form-group" data-ng-class="{'has-error': bugForm.subject.$touched && !bugForm.subject.$valid}">
                    <label for="bug-subject">Ein kurzer Titel, der das Problem benennt.</label>
                    <input type="text" id="bug-subject" class="form-control" placeholder="Betreff" data-ng-model="vm.mail.title"
                           required name="subject" data-ng-minlength="3">
                    <span class="help-block" data-ng-messages="bugForm.subject.$error"
                          data-ng-if="bugForm.subject.$touched">
                        <p data-ng-message="required">Dies ist ein Pflichtfeld</p>
                        <p data-ng-message="minlength">Der Betreff ist zu kurz</p>
                    </span>
                </div>
                <div class="form-group" data-ng-class="{'has-error': bugForm.text.$touched && !bugForm.text.$valid}">
                    <label for="bug-text">Eine detaillerte Beschreibung des Problems. Je detaillierter, umso besser können wir das Problem
                        nachvollziehen.</label>
                    <textarea rows="3" class="form-control" placeholder="Beschreibung"
                              data-ng-model="vm.mail.text" id="bug-text" name="text" required data-ng-minlength="3"></textarea>
                    <span class="help-block" data-ng-messages="bugForm.text.$error"
                          data-ng-if="bugForm.text.$touched">
                        <p data-ng-message="required">Dies ist ein Pflichtfeld</p>
                        <p data-ng-message="minlength">Der Text ist zu kurz</p>
                    </span>
                </div>
                <button type="submit" class="btn btn-success" data-ng-disabled="bugForm.$invalid">Senden</button>
            </form>
        </div>
    </div>
    <div class="row" data-ng-if="vm.sent">
        <div class="col-md-12">
            <h4>Die E-Mail wurde versendet. Vielen Dank für deine Mithilfe.</h4>
        </div>
    </div>
    <div class="row" data-ng-if="vm.error">
        <div class="col-md-12">
            <h4>Ein Fehler ist aufgetreten. Eine kurze <a href="mailto:b.wittmann@mail.de">E-Mail <i
                    class="fa fa-envelope"></i></a> und wir helfen weiter.</h4>
            <p>vm.error.MESSAGE</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" data-ng-click="vm.abbrechen()">Schließen</button>
</div>