.jugend-label-gruen {
	background-color: greenyellow;
	color: black;
}

.jugend-label-gelb {
	background-color: yellow;
	color: black;
}

.jugend-label-rot {
	background-color: red;
}

.jugend-label-blau {
	background-color: blue;
}

.jugend-label-orange {
	background-color: orange;
}

.jugend-label-lila {
	background-color: purple;
}

.jugend-label-hellblau {
	background-color: lightblue;
	color: black;
}

.jugend-label-hellgruen {
	background-color: lightgreen;
	color: black;
}

.jugend-label-hellrot {
	background-color: lightcoral;
	color: black;
}