@media print {
	header,
	footer {
		display: none;
	}
	.label {
		border: none !important;
		font-weight: normal;
	}
	input {
		border: none;
		outline: none;
		background-color: transparent;
		font-family: inherit;
		font-size: inherit;
	}
	.platz3 > td {
		border-bottom: 2px solid #605f5f !important;
	}
	#spielplan >thead >tr > th {
		border-bottom: 2px solid #605f5f !important;
	}
	.page-break {
		display: block;
		page-break-before: always;
	}
	.alle-spiele-divider {
		border-top: 1px solid #605f5f;
	}
	.box {
		border: 1px solid #605f5f;
		width: 50px;
		height: 50px;
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
	}
	.valign {
		height: 50px;
		line-height: 50px;
		vertical-align: top !important;
		padding-top: 5px !important;
		font-size: 16px !important;
	}
}