@media print {
	header,
	footer {
		display: none;
	}
	.label {
		border: none !important;
		font-weight: normal;
	}
	input {
		border: none;
		outline: none;
		background-color: transparent;
		font-family: inherit;
		font-size: inherit;
	}
	.platz3 > td {
		border-bottom: 2px solid #605f5f !important;
	}
	
	.page-break	{ display: block; page-break-before: always; }
}