<div class="modal-header">
    <h3 class="modal-title">{{vm.team.name}} bearbeiten</h3>
</div>
<div class="modal-body">
    <spi-loader loading="vm.loading"></spi-loader>
    <div class="row">
        <div class="col-md-12">
            <form data-ng-submit="vm.save(teamForm)" style="margin-top:30px;" name="teamForm" novalidate>
                <h5>Team ändern</h5>
                <div class="form-group" data-ng-class="{ 'has-error': teamForm.name.$touched && teamForm.name.$invalid }">
                    <input type="text" class="form-control" placeholder="Team-Name" data-ng-model="vm.name" required data-ng-minlength="3" name="name">
                    <span class="help-block" data-ng-messages="teamForm.name.$error"
                          data-ng-if="teamForm.name.$touched">
                        <p data-ng-message="required">Der Name ist ein Pflichtfeld</p>
                        <p data-ng-message="minlength">Der Name ist zu kurz</p>
                    </span>
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': teamForm.anmeldungsId.$touched && teamForm.anmeldungsId.$invalid }">
                    <input type="text" class="form-control" placeholder="ID Anmeldung" data-ng-model="vm.anmeldungsId"
                           data-ng-minlength="3" name="anmeldungsId">
                    <span class="help-block" data-ng-messages="teamForm.anmeldungsId.$error"
                          data-ng-if="teamForm.anmeldungsId.$touched">
                        <p data-ng-message="minlength">Die ID ist zu kurz</p>
                    </span>
                </div>
                <button type="submit" class="btn btn-primary" data-ng-disabled="teamForm.$invalid">Speichern</button>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="vm.abbrechen()">Schließen</button>
</div>