<div class="row hidden-print">
    <div class="col-xs-12 page-header">
        <h3>Spielplan</h3>
    </div>
</div>
<p class="hidden-print">Diese Seite dient dazu, alle Spiele für die Kampfgerichte auszudrucken. Am besten Safari verwenden, um Fehler im Layout zu vermeiden.</p>
<div class="row hidden-print">
    <div class="col-md-4 col-md-offset-4">
        <select class="hidden-print form-control" data-ng-model="vm.mode">
            <option selected value="all">Alle Spiele</option>
            <option value="nichtBeendete">Noch nicht gespielte Spiele</option>
        </select>
    </div>
</div>
<spi-loader loading="vm.loading"></spi-loader>
<div data-ng-if="!vm.loading">
    <div class="spiel-print" data-ng-repeat="spiel in vm.spiele track by $index">
        <div class="row">
            <div class="col-xs-12">
                <div class="row text-center">
                    <div class="col-xs-12">
                        <h2>{{spiel.uhrzeit}} Uhr</h2>
                        <h3>{{spiel.datum}}</h3>
                        <h4>Platz {{spiel.platz}}</h4>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-12">
                        <h3>
                            <spi-jugend-label jugend="spiel.jugend"></spi-jugend-label>
                        </h3>
                        <h6 class="spiel-gruppe" data-ng-click="vm.gotoGruppe(spiel.gruppe)">{{vm.displayGruppe(spiel)}}</h6>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-5">
                                <h4>Heim</h4>
                            </div>

                            <div class="col-xs-5 col-xs-offset-2">
                                <h4>Gast</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <h3 class="spiel-teamA" data-ng-click="vm.gotoTeam(spiel.teamA)">
                                    {{vm.displayTeamA(spiel)}}</h3>
                            </div>
                            <div class="col-xs-5 col-xs-offset-2">
                                <h3 class="spiel-teamB" data-ng-click="vm.gotoTeam(spiel.teamB)">
                                    {{vm.displayTeamB(spiel)}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row visible-print-block">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-5">
                        <p>Trikotfarbe: </p>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2">
                        <p>Trikotfarbe: </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row visible-print-block">
            <br>
            <p class="lead text-center">Ergebnis: </p>
            <br>
        </div>

        <div class="row visible-print-block" data-ng-if="!vm.isComplexMode">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-5">
                        <p>Tore: </p>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2">
                        <p>Tore: </p>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <hr class="alle-spiele-divider">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Bemerkungen zum Spiel / zu den Teams: </p>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="row visible-print-block" data-ng-if="vm.isComplexMode">
            <div class="col-xs-6" data-ng-repeat="n in [1,2]">
                <table class="spiel-druck-halbzeiten-table">
                    <tbody>
                        <tr>
                            <td class="spiel-druck-halbzeiten-table-title"><table><tr><td>1. Halbzeit</td><td class="spiel-druck-halbzeiten-table-title-punkte-label">Punkte: </td></tr></table><td class="spiel-druck-halbzeiten-table-punkte"></td>
                        </tr>
                        <tr>
                            <td class="spiel-druck-halbzeiten-table-placeholder" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="spiel-druck-halbzeiten-table-title"><table><tr><td>2. Halbzeit</td><td class="spiel-druck-halbzeiten-table-title-punkte-label">Punkte: </td></tr></table></td><td class="spiel-druck-halbzeiten-table-punkte"></td>
                        </tr>
                        <tr>
                            <td class="spiel-druck-halbzeiten-table-placeholder" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="spiel-druck-halbzeiten-table-title"><table><tr><td>Penalty</td><td class="spiel-druck-halbzeiten-table-title-punkte-label">Punkte: </td></tr></table></td><td class="spiel-druck-halbzeiten-table-punkte"></td>
                        </tr>
                        <tr>
                            <td class="spiel-druck-halbzeiten-table-placeholder" colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row visible-print-block">
            <div class="col-xs-12">
                <hr class="alle-spiele-divider">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-1">
                        <h3 style="height:50px;">
                            <table class="ergebnis-table">
                                <tr>
                                    <td>Ergebnis: </td>
                                    <td class="box"></td>
                                    <td> : </td>
                                    <td class="box"></td>
                                </tr>
                            </table>
                        </h3>
                    </div>
                    <div class="col-xs-5 ">
                        <h5>Unterschrift Kampfgericht: <br><br><br>______________________________</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>