<div class="table-responsive" data-ng-if="vm.spiele.length!==0">
    <table class="table table-condensed table-striped table-hover table-clickable">
        <thead>
        <tr class="text-center text-bold">
            <td>Datum</td>
            <td>Uhrzeit</td>
            <td>Platz</td>
            <td>Turnier</td>
            <td>Gruppe</td>
            <td>Heim</td>
            <td>Gast</td>
            <td>Spielstand</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="spiel in vm.spiele" data-ng-click="vm.gotoSpiel(spiel)" class="text-center">
            <td data-ng-click="vm.gotoDate(spiel.datum); $event.stopPropagation();">{{spiel.datum}}</td>
            <td>{{spiel.uhrzeit}}</td>
            <td data-ng-click="vm.gotoPlatz(spiel.platz); $event.stopPropagation();">{{spiel.platz}}</td>
            <td data-ng-click="vm.gotoJugend(spiel.jugend, $event);" class="valign">
                <spi-jugend-label jugend="spiel.jugend"></spi-jugend-label>
            </td>
            <td data-ng-click="vm.gotoGruppe(spiel.gruppe, $event);">{{vm.displayGruppe(spiel)}}</td>
            <td data-ng-click="vm.gotoTeam(spiel.teamA, $event);"
                data-ng-class="{'highlightTeamName': spiel.teamA && spiel.teamA._id === vm.highlightedTeam._id}">{{vm.displayTeamA(spiel)}}
            </td>
            <td data-ng-click="vm.gotoTeam(spiel.teamB, $event);"
                data-ng-class="{'highlightTeamName': spiel.teamB && spiel.teamB._id === vm.highlightedTeam._id}">{{vm.displayTeamB(spiel)}}
            </td>
            <td>
                <div data-ng-if="spiel.jugend && spiel.beendet">{{spiel.toreA}} : {{spiel.toreB}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-info" data-ng-if="vm.spiele.length===0">Keine Spiele gefunden</div>