<div class="modal-header">
    <h3 class="modal-title">{{vm.jugend.name}}</h3>
</div>
<div class="modal-body">
    <spi-loader loading="vm.loading"></spi-loader>
    <div class="row">
        <div class="col-md-12 gruppe-container-wrap">
            <spi-panel class="gruppe-container-panel gruppe-container-panel-large" data-ng-repeat="gruppe in vm.gruppen">
                <spi-panel-titel>
                    <input class="gruppe-container-panel-name" data-ng-model="gruppe.name" data-ng-change="vm.hideErr()">
                    <span class="float-right" data-ng-click="vm.removeGruppe(gruppe.name)"><i class="fa fa-remove"></i></span>
                </spi-panel-titel>
                <div class="gruppe-container" data-ui-sortable="vm.sortableOptions" data-ng-model="gruppe.teams">
                    <div class="turnier-import-team" data-ng-repeat="team in gruppe.teams">{{team.name}}</div>
                </div>
            </spi-panel>
            <div class="gruppe-add" data-ng-click="vm.addGruppe()">
                <i class="fa fa-plus fa-lg"></i>
                <p>Gruppe hinzufügen</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Normale Gruppen</p>
        </div>
        <div class="col-md-12 gruppe-container-wrap">
            <div class="row">
                <div class="col-md-12 gruppe-container-wrap">
                    <spi-panel class="gruppe-container-panel" data-ng-repeat="gruppe in vm.jugendGruppen">
                        <spi-panel-titel>
                            {{gruppe.name}}
                        </spi-panel-titel>
                        <div class="gruppe-container gruppe-container-from" data-ui-sortable="vm.sortableOptions" data-ng-model="gruppe.teams">
                            <div class="turnier-import-team" data-ng-repeat="team in gruppe.teams">{{team.name}}</div>
                        </div>
                    </spi-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" data-ng-if="vm.err">
        {{vm.err}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" data-ng-click="vm.abbrechen()">Schließen</button>
    <button class="btn btn-success" data-ng-click="vm.save()">Speichern</button>
</div>