<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form data-ng-submit="vm.forgotPassword()" style="margin-top:80px;">
            <h3 class="width-100 text-center">Passwort vergessen?</h3>

            <p>Wenn du dein Passwort vergessen hast, kannst du es hier zurücksetzen. Wir senden dann eine Email mit weiteren Anweisungen.</p>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" data-ng-model="vm.email" required>
            </div>
            <button type="submit" class="btn btn-primary center-block">Passwort zurücksetzen</button>
        </form>
    </div>
</div>