<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form data-ng-submit="vm.forgotPassword(accountForm)" style="margin-top:80px;" name="accountForm" novalidate>
            <h3 class="width-100 text-center">Passwort vergessen?</h3>

            <p>Wenn du dein Passwort vergessen hast, kannst du es hier zurücksetzen. Wir senden dann eine Email mit weiteren Anweisungen.</p>
            <div class="form-group" data-ng-class="{ 'has-error': accountForm.email.$touched && accountForm.email.$invalid }">
                <input type="email" class="form-control" placeholder="Email" data-ng-model="vm.email" required name="email">
                <span class="help-block" data-ng-messages="accountForm.email.$error" data-ng-if="accountForm.email.$touched">
                    <p data-ng-message="required">E-Mail ist ein Pflichtfeld</p>
                    <p data-ng-message="email">E-Mail ist ungültig</p>
                </span>
            </div>
            <button type="submit" class="btn btn-primary center-block" data-ng-disabled="accountForm.$invalid" analytics-on="click" analytics-event="Passwort vergessen">Passwort zurücksetzen</button>
        </form>
    </div>
</div>