<div class="row">
	<div class="col-xs-12 page-header">
		<h3>Spiel #{{vm.spiel.nummer}}
		<small><span><spi-jugend-label jugend="vm.spiel.jugend"></spi-jugend-label></span>  <span class="padding-left-15">{{vm.spiel.gruppe.name}}</span></small>
		</h3>
	</div>
</div>

<spi-loader loading="vm.loading"></spi-loader>

<div class="row text-center" data-ng-if="!vm.loading">
	<div class="col-xs-12">
		<h2>{{vm.spiel.uhrzeit}} Uhr</h2>
		<h4>Platz {{vm.spiel.platz}}</h4>
	</div>
</div>

<div class="row text-center" data-ng-if="!vm.loading">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-4">
				<h4>Heim</h4>
			</div>

			<div class="col-xs-4 col-xs-offset-4">
				<h4>Gast</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<h3 data-ng-click="vm.gotoTeam(vm.spiel.teamA)">{{vm.spiel.teamA.name}}</h3>
			</div>
			<div class="col-xs-4">
				<h1 data-ng-if="vm.spiel.beendet"><span class="score">{{vm.spiel.toreA}} : {{vm.spiel.toreB}}</span></h1>
			</div>
			<div class="col-xs-4">
				<h3 data-ng-click="vm.gotoTeam(vm.spiel.teamB)">{{vm.spiel.teamB.name}}</h3>
			</div>
		</div>
	</div>
</div>

<div data-ng-if="!vm.loading && vm.spiel.beendet" class="row text-center">
	<div class="col-xs-12">
		<h5 data-ng-if="vm.spiel.unentschieden">Unentschieden</h5>
		<h5 data-ng-if="!vm.spiel.unentschieden" data-ng-click="vm.gotoTeam(vm.spiel.gewinner)">{{vm.spiel.gewinner.name}} hat gewonnen</h5>
	</div>
</div>