body {
    min-height: 100%;
    position: relative;
    /*noinspection CssUnknownTarget*/
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 15px;
}

#page {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 10px 10px 25px 0 rgba(71, 71, 71, 0.83);
    -moz-box-shadow: 10px 10px 25px 0 rgba(71, 71, 71, 0.83);
    box-shadow: 10px 10px 25px 0 rgba(71, 71, 71, 0.83);
    border-radius: 4px;
    margin-bottom: 80px;
    margin-top: 80px;
}