<div class="row">
	<div class="col-md-12 page-header">
		<h3>Verwaltung Teams, Gruppen & Jugenden</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-3" data-ng-repeat="jugend in vm.jugenden">
		<spi-jugend-panel data-jugend="jugend"></spi-jugend-panel>
	</div>
</div>

<div data-ng-if="vm.isLoggedIn" class="row">
	<div class="col-md-6">
		<form ng-submit="vm.addJugend()" style="margin-top:30px;">
			<h5>Jugend hinzufügen</h5>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name" ng-model="vm.jugend.name" required></input>
			</div>
			<div class="form-group">
				<select class="form-control" placeholder="Farbe" ng-model="vm.jugend.color">
					<option value="" selected>Farbe wählen...</option>
					<option data-ng-repeat="farbe in vm.farben" value="{{farbe.wert}}">{{farbe.name}}</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">anlegen</button>
			<span data-ng-if="vm.jugend.name">Vorschau: <spi-jugend-label jugend="vm.jugend"></spi-jugend-label></span>
		</form>
	</div>
</div>