<div class="modal-header">
    <h3 class="modal-title">{{vm.team.name}} bearbeiten</h3>
</div>
<div class="modal-body">
    <spi-loader loading="vm.loading"></spi-loader>
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="vm.save()" style="margin-top:30px;">
                <h5>Team-Name ändern</h5>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Team-Name" ng-model="vm.name" required></input>
                </div>
                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.abbrechen()">Schließen</button>
</div>