<div class="row hidden-print">
    <div class="col-xs-12 page-header">
        <h3>Spielplan</h3>
    </div>
</div>
<p class="hidden-print">Diese Seite dient dazu, alle Spiele für die Kampfgerichte auszudrucken. Am besten Google Chrome
    verwenden, um Fehler im Layout zu vermeiden. Zum Drucken nutzen Sie den Standard Browser-Druck-Dialog oder drücken Sie <kbd><kbd>Strg</kbd> + <kbd>P</kbd></kbd></p>
<div class="row hidden-print">
    <div class="col-md-4 col-md-offset-4">
        <select class="hidden-print form-control" data-ng-model="vm.mode">
            <option selected value="all">Alle Spiele</option>
            <option value="nichtBeendete">Noch nicht gespielte Spiele</option>
            <option value="withoutPlaceholder">Alle Spiele ohne Platzhalter</option>
        </select>
    </div>
</div>
<div class="row hidden-print">
    <div class="col-md-4 col-md-offset-4">
        <br>
        <p class="text-center">Von <input class="spiel-nummer-input" placeholder="#" data-ng-model="vm.minNummer"> bis
            <input class="spiel-nummer-input" placeholder="#" data-ng-model="vm.maxNummer"></p>
    </div>
</div>
<spi-loader loading="vm.loading"></spi-loader>
<div data-ng-if="!vm.loading">
    <div class="spiel-print" data-ng-repeat="spiel in vm.spiele track by spiel._id">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>{{spiel.jugend.name}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <h5>Feld: {{spiel.platz}}</h5>
                            </div>
                            <div class="col-xs-3">
                                <h5>Spiel-Nr.: {{spiel.nummer}}</h5>
                            </div>
                            <div class="col-xs-3">
                                <h5>{{spiel.datum}}</h5>
                            </div>
                            <div class="col-xs-3">
                                <h5>{{spiel.uhrzeit}} Uhr</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 visible-print">
                        <img src="/assets/img/dbt_logo.png">
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-5">
                                <h3 class="spiel-teamA" data-ng-click="vm.gotoTeam(spiel.teamA)">
                                    {{vm.displayTeamA(spiel)}}</h3>
                            </div>
                            <div class="col-xs-5 col-xs-offset-2">
                                <h3 class="spiel-teamB" data-ng-click="vm.gotoTeam(spiel.teamB)">
                                    {{vm.displayTeamB(spiel)}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row visible-print-block">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-5">
                        <p>Trikotfarbe: </p>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2">
                        <p>Trikotfarbe: </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row visible-print-block" data-ng-if="vm.mannschaftslistenEnabled">
            <div class="col-xs-6" data-ng-repeat="letter in ['A', 'B'] track by spiel._id+letter">
                <table data-ng-init="team = spiel['team' + letter]" class="spieler-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Geburtsdatum</th>
                        <th class="number-element text-center"> #</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="spieler in vm.getSpielerArray(team) track by spiel._id+letter+$index">
                        <td class="text-center">{{$index + 1}}</td>
                        <td><span data-ng-if="spieler">{{spieler.vorname}}</span></td>
                        <td><span data-ng-if="spieler">{{spieler.nachname}}</span></td>
                        <td><span data-ng-if="spieler">{{spieler.geburtsdatum}}</span></td>
                        <td class="text-center"><span data-ng-if="spieler">{{spieler.trikotnummer}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row visible-print-block">
            <br>
            <p class="lead text-center" data-ng-if="!vm.isComplexMode">Ergebnis: </p>
        </div>

        <div class="row visible-print-block" data-ng-if="!vm.isComplexMode">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-5">
                        <p>Tore: </p>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2">
                        <p>Tore: </p>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div data-ng-if="!vm.mannschaftslistenEnabled">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <hr class="alle-spiele-divider">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Bemerkungen zum Spiel / zu den Teams: </p>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="row visible-print-block" data-ng-if="vm.isComplexMode">
            <div class="col-xs-6" data-ng-repeat="n in [1,2]">
                <div class="row" data-ng-repeat="s in ['Satz 1', 'Satz 2', 'Shootout']">
                    <h4 class="spiel-druck-halbzeiten-title">{{s}}</h4>
                    <div class="col-xs-9">
                        <table class="spiel-druck-halbzeiten-table">
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                            </tr>
                            <tr data-ng-if="s !== 'Shootout'">
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                            </tr>
                            <tr data-ng-if="s !== 'Shootout'">
                                <td>31</td>
                                <td>32</td>
                                <td>33</td>
                                <td>34</td>
                                <td>35</td>
                                <td>36</td>
                                <td>37</td>
                                <td>38</td>
                                <td>39</td>
                                <td>40</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="small-box"></div>
                                <p class="small-box-caption">Pkt.</p>
                            </div>
                            <div class="col-xs-6">
                                <div class="small-box"></div>
                                <p class="small-box-caption">Satz</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row visible-print-block" data-ng-if="!vm.isComplexMode">
            <div class="col-xs-12">
                <hr class="alle-spiele-divider">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-1">
                        <h3 style="height:50px;">
                            <table class="ergebnis-table">
                                <tr>
                                    <td>Ergebnis:</td>
                                    <td class="box"></td>
                                    <td> :</td>
                                    <td class="box"></td>
                                </tr>
                            </table>
                        </h3>
                    </div>
                    <div class="col-xs-5 ">
                        <h5>Unterschrift Kampfgericht: <br><br><br>______________________________</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row visible-print-block" data-ng-if="vm.isComplexMode">
            <div class="col-xs-6">
                <table>
                    <tr>
                        <td>Sieger:</td>
                        <td class="underline-td"></td>
                    </tr>
                    <tr>
                        <td>Ergebnis:</td>
                        <td class="underline-td"></td>
                    </tr>
                    <tr>
                        <td>Kampfgericht:</td>
                        <td class="underline-td"></td>
                    </tr>
                    <tr>
                        <td>Schiedsrichter:</td>
                        <td class="underline-td"></td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-6">
                <p>Besondere Ereignisse:</p>
                <p class="underline-td"></p>
                <p class="underline-td"></p>
            </div>
        </div>
        <br>
        <div class="row visible-print" data-ng-if="vm.isComplexMode">
            <div class="col-xs-6">
                <table>
                    <tr>
                        <td>MV:</td>
                        <td class="underline-td"></td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-6">
                <table>
                    <tr>
                        <td>MV:</td>
                        <td class="underline-td"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>