<div class="row">
	<div class=" col-md-12 page-header">
		<h3><spi-jugend-label jugend="vm.jugend"></spi-jugend-label></h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4>Spiele</h4>
		<spi-spiele-tabelle data-spiele="vm.spiele"></spi-spiele-tabelle>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4>Gruppen</h4>
		<div class="col-md-6" data-ng-repeat="gruppe in vm.jugend.gruppen">
			<spi-panel data-ng-if="gruppe._id">
				<spi-panel-titel><a data-ui-sref="spi.tgj.gruppe({gruppeid: gruppe._id})">{{gruppe.name}}</a>
					<spi-jugend-label jugend="vm.jugend"></spi-jugend-label>
				</spi-panel-titel>
				<div class="row">
					<div class="col-md-12">
						<spi-tabelle data-teams="gruppe.teams"></spi-tabelle>
					</div>
				</div>
			</spi-panel>
		</div>
	</div>
</div>