<div class="row">
    <div class="col-md-12 page-header">
        <h3>Email Abonnements</h3>
    </div>
</div>

<spi-loader loading="vm.loading"></spi-loader>

<div class="row" data-ng-if="!vm.loading">
    <div class="col-md-8 col-md-offset-2">
        <table data-ng-table="vm.tableParams" class="table table-condensed table-striped table-hover text-center"
               data-show-filter="true">
            <tr data-ng-repeat="sub in $data" class="text-center">
                <td data-title="'Email'" data-sortable="'email'" class="text-center" data-filter="{email: 'text'}">
                    <a href="mailto:{{sub.email}}">{{sub.email}}</a>
                </td>
                <td data-title="'Team'" data-ng-click="vm.gotoTeam(sub.team); $event.stopPropagation();"
                    data-sortable="'teamName'" data-filter="{teamName: 'text'}">{{sub.teamName}}
                </td>
                <td data-title="'Jugend'" data-ng-click="vm.gotoJugend(sub.team.jugend); $event.stopPropagation();"
                    data-sortable="'jugendName'" data-group="'jugendName'" data-filter="{jugendName: 'text'}"
                    class="valign">
                    <spi-jugend-label jugend="sub.team.jugend"></spi-jugend-label>
                </td>
            </tr>
        </table>
        <div class="alert alert-info" data-ng-if="vm.tableParams.total()===0">Keine Abonnements gefunden</div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form data-ng-submit="vm.send(emailForm)" style="margin-top:30px;" name="emailForm" novalidate>
            <h3 class="text-center">Email an alle Abonnenten versenden</h3>
            <div class="alert alert-danger" data-ng-if="vm.err">{{vm.err}}</div>
            <div class="alert alert-success" data-ng-if="vm.message">{{vm.message}}</div>
            <div class="form-group" data-ng-class="{ 'has-error': emailForm.subject.$touched && emailForm.subject.$invalid }">
                <input type="text" class="form-control" placeholder="Betreff" data-ng-model="vm.email.subject"
                       required name="subject">
                <span class="help-block" data-ng-messages="emailForm.subject.$error" data-ng-if="emailForm.subject.$touched">
                    <p data-ng-message="required">Betreff ist ein Pflichtfeld</p>
                </span>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': emailForm.text.$touched && emailForm.text.$invalid }">
                <textarea class="form-control" placeholder="Text" data-ng-model="vm.email.text" name="text" required></textarea>
                <span class="help-block" data-ng-messages="emailForm.text.$error" data-ng-if="emailForm.text.$touched">
                    <p data-ng-message="required">E-Mail Text ist ein Pflichtfeld</p>
                </span>
            </div>
            <button type="submit" class="btn btn-primary center-block" data-ng-disabled="emailForm.$invalid">Senden</button>
        </form>
    </div>
</div>