<div class="row">
    <div class="col-md-12 page-header">
        <h3>Verwaltung Allgemein</h3>
    </div>
</div>

<spi-loader loading="vm.loading"></spi-loader>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <form data-ng-submit="vm.register(registerForm)" style="margin-top:30px;" name="registerForm" novalidate>
            <h3 class="text-center">User anlegen</h3>
            <div class="alert alert-success" data-ng-if="vm.registerMsg">{{vm.registerMsg}}</div>
            <div class="alert alert-danger" data-ng-if="vm.registerErr">{{vm.registerErr}}</div>
            <div class="form-group" data-ng-class="{ 'has-error': registerForm.username.$touched && registerForm.username.$invalid }">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.user.username"
                       data-ng-change="vm.resetRegisterForm()" required name="username" data-ng-minlength="3">
                <span class="help-block" data-ng-messages="registerForm.username.$error" data-ng-if="registerForm.username.$touched">
                    <p data-ng-message="required">Username ist ein Pflichtfeld</p>
                    <p data-ng-message="minlength">Username ist zu kurz</p>
                </span>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': registerForm.email.$touched && registerForm.email.$invalid }">
                <input type="email" class="form-control" placeholder="Email" data-ng-model="vm.user.email"
                       data-ng-change="vm.resetRegisterForm()" required name="email">
                <span class="help-block" data-ng-messages="registerForm.email.$error" data-ng-if="registerForm.email.$touched">
                    <p data-ng-message="required">E-Mail ist ein Pflichtfeld</p>
                    <p data-ng-message="email">E-Mail ist ungültig</p>
                </span>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': registerForm.role.$touched && registerForm.role.$invalid }">
                <select class="form-control" data-ng-model="vm.user.role" required title="rolle" name="role">
                    <option value="" disabled selected>Rolle wählen</option>
                    <option value="Admin">Admin</option>
                    <option value="Bearbeiter">Bearbeiter</option>
                </select>
                <span class="help-block" data-ng-messages="registerForm.role.$error" data-ng-if="registerForm.role.$touched">
                    <p data-ng-message="required">Rolle ist ein Pflichtfeld</p>
                </span>
            </div>
            <button type="submit" class="btn btn-primary center-block" data-ng-disabled="registerForm.$invalid">Anlegen</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <form data-ng-submit="vm.delete(deleteForm)" style="margin-top:30px;" name="deleteForm" novalidate>
            <h3 class="text-center">User löschen</h3>
            <div class="alert alert-danger" data-ng-if="vm.delErr">{{vm.delErr}}</div>
            <div class="alert alert-success" data-ng-if="vm.delMsg">{{vm.delMsg}}</div>
            <div class="form-group" data-ng-class="{ 'has-error': deleteForm.username.$touched && deleteForm.username.$invalid }">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.username"
                       data-ng-change="vm.resetDeleteForm()" required data-ng-minlength="3" name="username">
                <span class="help-block" data-ng-messages="deleteForm.username.$error" data-ng-if="deleteForm.username.$touched">
                    <p data-ng-message="required">Username ist ein Pflichtfeld</p>
                    <p data-ng-message="minlength">Username ist zu kurz</p>
                </span>
            </div>
            <button type="submit" class="btn btn-primary center-block" data-ng-disabled="deleteForm.$invalid">Löschen</button>
        </form>
    </div>
</div>