<div class="row">
    <div class="col-md-12 page-header">
        <h3>Verwaltung Allgemein</h3>
    </div>
</div>

<spi-loader loading="vm.loading"></spi-loader>

<div class="row" data-ng-if="!vm.loading">
    <div class="col-md-12">
        <form name="spielzeitForm" data-ng-submit="vm.saveSpielzeit()">
            <div class="row">
                <div class="form-group col-md-4">
                    <div class="control-label center-block text-center special-padding" style="width: 100%">Startzeit
                    </div>
                    <uib-timepicker class="center-block" style="width: 105px;" ng-model="vm.startzeit" hour-step="1"
                                    minute-step="5" show-meridian="false"></uib-timepicker>
                    <div class="alert alert-danger col-md-8 col-md-offset-2" data-ng-if="spielzeitForm.$error.time">
                        Ungültige Eingabe
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="control-label center-block text-center" style="width: inherit;">Spielzeit</div>
                    <div class="center-block width-60">
                        <a data-ng-click="vm.increment('spielzeit')" class="btn btn-link center-block"
                           style="height: 25px; width: 50px;"><span class="glyphicon glyphicon-chevron-up"></span></a>
                        <input name="spielzeit" type="number" class="form-control width-60 text-center" min="1"
                               data-ng-model="vm.spielzeit" required
                               data-ng-class="{'has-error': !spielzeitForm.spielzeit.$valid}" title="spielzeit">
                        <a data-ng-click="vm.decrement('spielzeit')" class="btn btn-link center-block"
                           style="height: 25px; width: 50px;"><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                    <div class="alert alert-danger col-md-8 col-md-offset-2"
                         data-ng-if="!spielzeitForm.spielzeit.$valid">
                        Ungültige Eingabe
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="control-label center-block text-center" style="width: inherit;">Pausenzeit</div>
                    <div class="center-block width-60">
                        <a data-ng-click="vm.increment('pausenzeit')" class="btn btn-link center-block"
                           style="height: 25px; width: 50px;"><span class="glyphicon glyphicon-chevron-up"></span></a>
                        <input name="pausenzeit" type="number" class="form-control width-60 text-center" min="1"
                               data-ng-model="vm.pausenzeit" required
                               data-ng-class="{'has-error': !spielzeitForm.pausenzeit.$valid}" title="pausenzeit">
                        <a data-ng-click="vm.decrement('pausenzeit')" class="btn btn-link center-block"
                           style="height: 25px; width: 50px;"><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                    <div class="alert alert-danger col-md-8 col-md-offset-2"
                         data-ng-if="!spielzeitForm.pausenzeit.$valid">
                        Ungültige Eingabe
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary center-block">Speichern</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <form data-ng-submit="vm.register()" style="margin-top:30px;">
            <h3 class="text-center">User anlegen</h3>
            <div class="alert alert-success" data-ng-if="vm.registerMsg">{{vm.registerMsg}}</div>
            <div class="alert alert-danger" data-ng-if="vm.registerErr">{{vm.registerErr}}</div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.user.username"
                       data-ng-change="vm.resetRegisterForm()" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" data-ng-model="vm.user.email"
                       data-ng-change="vm.resetRegisterForm()" required>
            </div>
            <div class="form-group">
                <select class="form-control" data-ng-model="vm.user.role" required title="rolle">
                    <option value="" disabled selected>Rolle wählen</option>
                    <option value="Admin">Admin</option>
                    <option value="Bearbeiter">Bearbeiter</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary center-block">Anlegen</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <form data-ng-submit="vm.delete()" style="margin-top:30px;">
            <h3 class="text-center">User löschen</h3>
            <div class="alert alert-danger" data-ng-if="vm.delErr">{{vm.delErr}}</div>
            <div class="alert alert-success" data-ng-if="vm.delMsg">{{vm.delMsg}}</div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.username"
                       data-ng-change="vm.resetDeleteForm()" required>
            </div>
            <button type="submit" class="btn btn-primary center-block">Löschen</button>
        </form>
    </div>
</div>