<div class="row">
    <div class=" col-md-12 page-header">
        <h3>Turniere</h3>
    </div>
</div>

<spi-loader loading="vm.loading"></spi-loader>

<div class="row" data-ng-if="!vm.loading">
    <div class="col-md-3" data-ng-repeat="jugend in vm.jugenden">
        <spi-jugend-panel data-jugend="jugend"></spi-jugend-panel>
    </div>
    <div class="col-md-4 col-md-offset-4" data-ng-if="vm.jugenden.length===0">
        <div class="alert alert-info">Keine Turniere gefunden</div>
    </div>
</div>