<div class="row">
    <div class="col-md-12 page-header">
        <h3>{{vm.team.name}}
            <small><span><spi-jugend-label jugend="vm.team.jugend"></spi-jugend-label></span> <span
                    class="padding-left-15">{{vm.team.gruppe.name}}</span></small>
            <button class="pull-right btn btn-primary btn-sm valign" data-ng-class="{'disabled': vm.bereitsAbonniert}"
                    data-ng-click="vm.abonnieren()">
                <i class="fa fa-rss"></i>
                <span class="hidden-xs" data-ng-if="!vm.bereitsAbonniert"> Team abonnieren</span>
                <span class="hidden-xs" data-ng-if="vm.bereitsAbonniert"> Team abonniert</span>
            </button>

        </h3>

    </div>
</div>

<spi-loader loading="vm.loading"></spi-loader>

<div class="row" data-ng-if="!vm.loading">
    <div class="col-md-12">
        <h4>Spiele</h4>
        <spi-spiele-tabelle data-spiele="vm.spiele" data-highlighted-team="vm.team"></spi-spiele-tabelle>
    </div>
</div>

<div class="row" data-ng-if="!vm.loading">
    <div class="col-md-12">
        <h4>Aktuelle Tabelle</h4>
        <spi-tabelle data-teams="vm.teams" data-highlighted-team="vm.team"></spi-tabelle>
    </div>
</div>